.container {
  width: 800px;
  margin: 0 auto;
}
.layout {
  margin: 20px 30px 0 30px;
  height: 98vh;
  display: flex;
  flex-direction: column;
}

.children {
  margin: 20px 20px 0 20px;
}

.footer {
  margin-top: auto;
}