.tanks_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid #413f3f;
  padding: 10px;
  border-radius: 5px;
}

.tanks_list:hover {
  background-color: #c9e9e9;
}

.name {
  font-size: 18px;
}

.email {
  font-size: 12px;
}

.email a {
  color: #4e4eaf;
  text-decoration: underline;
}